:root {
    /* ==== Home ==== */
    --color-home-title: #1c1917;
    --color-home-btn-bg: #b91c1c;
    --color-home-btn-hover: #dc2626;

    /* ==== Home History ==== */
    --color-history-text: #78716c;

    /* ==== Home Gallery ==== */
    --color-galeria-bg: #f5f5f4;

    /* ==== Home Reviews ==== */
    --color-review-text: #57534e;
    --color-review-star: #f59e0b;
    --color-review-border: #e7e5e4;

    /* ==== Home CTA   ==== */
    --color-cta-bg: #dc2626;
    --color-cta-label: #dc2626;
}